* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --navHeight: 75px;
}

html {
  overflow-x: hidden;
}
body,
main {
  scroll-behavior: smooth;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 100;
}
/* NAV BAR -----------------------------*/
.navBar {
  height: var(--navHeight);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: black;
  padding: 20px;
}

.hamburguerIcon {
  display: flex;
  position: absolute;
  right: 20px;
  flex-direction: column;
  height: 20px;
  align-items: flex-end;
  justify-content: space-between;
}

.ham_top {
  height: 0;
  width: 39px;
  border: 2.5px solid white;
  border-radius: 50px;
}

.ham_bottom {
  height: 0;
  width: 25px;
  border: 2.5px solid white;
  border-radius: 50px;
}
/* -------------------------------------------------- */
/* NAV MENU-------------------------------------------------- */
.navMenu {
  width: 100vw;
  height: 500px;
  background-color: red;
  position: fixed;
  z-index: 100;
  left: 100vw;
  top: var(--navHeight);
  transition: 0.5s;
  border-radius: 50%;
  padding: 10px;
  overflow-y: scroll;
}
/* -------------------------------------------------- */

body main {
  display: block;
  position: relative;
}

h1 {
  z-index: 1;
  font-size: 30;
  font-weight: 700;
}

/* PROJECTS------------------------------------- */

.project-container {
  display: block;
  position: relative;
  /* flex-direction: column; */
  height: 263px;
  width: 350px;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.5s;
  /* top: 10px; */
  background-color: yellow;
  scroll-snap-align: start;
  margin: 0 auto;
}

.image-container {
  background-image: url("images/projects/light_bulb_image.png");
  width: 100%;
  min-height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #5458be;
}

.description-container {
  display: flex;
  /* position: relative; */
  bottom: 0;
  align-items: center;
  padding: 10px;
  background-color: #5458be;
  color: white;
  border-radius: 0px 0px 10px 10px;
  transition: 0.5s;
}

.project-title {
  width: 50%;
  transition: inherit;
}

.arrow-right {
  width: 50%;
  justify-content: right;
  text-align: right;
  transition: inherit;
}

.hidden_content {
  display: none;
  height: 0%;
  transition: 0.5s;
}

.hideDescription {
  /* animation: hideDesc 0.5s 0.5s forwards; */
  opacity: 0;
}

@keyframes hideDesc {
}

.showDescription {
  /* animation: showDesc 0.5s 0.5s forwards; */
  opacity: 1;
}

@keyframes showDesc {
}

.textAnimation {
  animation: showText 0.5s 0.5s forwards;
  display: block;
  min-height: 0;
  opacity: 0;
}

@keyframes showText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    background-color: gainsboro;
  }
}

.closeTextAnimation {
  animation: hideText 0.5s 0s forwards;
  opacity: 1;
  display: none;
  /* min-height: none; */
}

@keyframes hideText {
  to {
    height: 0;
    opacity: 0;
  }
}

.projectAnimation {
  animation: showProject 0.5s 0s forwards;
  display: block;
  position: sticky;
  z-index: 90;
  top: var(--navHeight);
}

@keyframes showProject {
  to {
    width: 100%;
    height: calc(100vh - var(--navHeight));
    padding: 10px;
    overflow: scroll;
    border-radius: 0;
    margin: 0 auto;
  }
}

.closeAnimation {
  animation: closeProject 0.5s 0s forwards;
  width: 100%;
  height: calc(100vh - var(--navHeight));
  padding: 10px;
  overflow: scroll;
  border-radius: 0;
  margin: 0 auto;
}

@keyframes closeProject {
  to {
    display: block;
    position: relative;
    height: 263px;
    width: 350px;
    overflow: hidden;
    border-radius: 10px;
  }
}
