* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --navHeight: 75px;
}

html {
  overflow-x: hidden;
}
body {
  height: 100vh;
  width: 100vw;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

body,
main {
  scroll-behavior: smooth;
}

/* body {
  padding: 10px;
} */

.navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}
/* NAV BAR -----------------------------*/
.navBar {
  width: 100%;
  height: var(--navHeight);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: black;
  padding: 20px;
}

.hamburguerIcon {
  display: flex;
  /* position: absolute; */
  margin-right: 0;
  margin-left: auto;
  flex-direction: column;
  height: 20px;
  align-items: flex-end;
  justify-content: space-between;
}

.ham_top {
  height: 0;
  width: 39px;
  border: 2.5px solid white;
  border-radius: 50px;
}

.ham_bottom {
  height: 0;
  width: 25px;
  border: 2.5px solid white;
  border-radius: 50px;
}
/* -------------------------------------------------- */
/* NAV MENU-------------------------------------------------- */
.navMenu {
  display: block;
  width: 100vw;
  height: 0px;
  background-color: red;
  position: relative;
  z-index: 100;

  transition: 0.5s;
}
/* -------------------------------------------------- */

body main {
  display: block;
  /* position: relative; */
  width: 100%;
  /* transform-style: preserve-3d; */
  transform-origin: left;
}

h1 {
  z-index: 1;
  font-size: 30;
  font-weight: 700;
}

.intro-section {
  height: 100vh;
  width: 100%;
  background-color: black;
  padding: 10px;
  overflow: hidden;
}

.intro-text {
  display: flex;
  align-items: center;
  width: 50vw;
  height: 50vh;
  position: relative;
  left: 25vw;
  top: 25vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  /* margin: auto;
  margin-top: 100px; */
  z-index: 10;
}
.intro-text h2 {
  text-align: center;
  width: 100%;
  font-size: 40px;
}

svg#Lines {
  display: block;
  position: relative;
  width: 140%;
  height: 100%;
  bottom: 50%;
  right: 300px;
  margin: auto;
  z-index: 1;
}

/* PROJECTS------------------------------------- */

.section-header {
  display: block;
  color: black;
  background-color: white;
  font-size: 30px;
  width: 50%;
  margin: auto;
  padding: 10px;
  z-index: 0;
}

.header-cont::after {
  content: "";
  display: block;
  position: relative;
  right: 20px;
  bottom: 30px;
  background-color: black;
  width: 50%;
  height: 50px;
  z-index: -1;
  margin: auto;
}

.project-container {
  display: block;
  /* position: relative; */
  /* flex-direction: column; */
  height: 263px;
  width: 350px;
  /* overflow: hidden; */
  transition: 0.5s;
  /* top: 10px; */
  background-color: black;
  scroll-snap-align: start;
  margin: 50px auto;
  color: white;
}

.image-container {
  width: 100%;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#project1 .image-container {
  background-image: url("images/projects/light_bulb_image.png");
}

#project2 .image-container {
  background-image: url("images/projects/neda_art_image.png");
}

#project3 .image-container {
  background-image: url("images/projects/huset_image.png");
}

#project4 .image-container {
  background-image: url("images/projects/monty_python_image.png");
}

.description-container {
  display: flex;
  /* position: relative; */
  bottom: 0;
  align-items: center;
  padding: 10px;
  transition: 0.5s;
}

.project-title {
  width: 50%;
  height: 20%;
  transition: inherit;
}

.arrow-right {
  width: 50%;
  justify-content: right;
  text-align: right;
  transition: inherit;
}

.hidden_content {
  display: none;
  height: 0%;
  transition: 0.5s;
}

.hideDescription {
  /* animation: hideDesc 0.5s 0.5s forwards; */
  opacity: 0;
}

section.main-content {
  /* height: 100vh;
  width: 100%; */
  width: 100%;
  min-height: 100%;
  /* width: 100%;
  height: 100%; */
  position: absolute;
}

#aside {
  position: fixed;
  bottom: 0;
  left: 100%;
  z-index: 100;
  width: 100%;
  height: calc(100% - var(--navHeight));
}

#main-container {
  /* perspective: 0px; */
  /* width: 400px;
  height: 400px; */
}

section.main-content,
aside {
  /* transform: translateZ(100%); */
}
aside {
  display: block;
  /* transform: translateX(100%); */
  transform-origin: left;
  background-color: orange;
}

.revealMain {
  animation: showMain 0.5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.revealAside {
  animation: showAside 0.5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes showMain {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@keyframes showAside {
  0% {
    /* scale: 1; */
    left: 100%;
  }
  30% {
    /* scale: 0.7; */
  }
  100% {
    left: 0%;
    /* scale: 1; */
  }
}
